/* For screens smaller than 768px */
@media (max-width: 768px) {
    aside {
      width: 100%;
      margin: 20px; 
    }
  }
  
  /* For screens smaller than 480px */
  @media (max-width: 480px) {
    aside {
      padding: 10px; 
    }
    h2 {
      font-size: 18px; 
    }
    li {
      margin-bottom: 5px; 
    }
  }